{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="{% static 'CSS/base.css' %}" rel="stylesheet">
    
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #2989d8;
    background: -webkit-gradient(linear,left top,right top,from(#2989d8),color-stop(52%,#b524b5),to(#f4af84));
    background: linear-gradient(to right,#2989d8 0,#b524b5 52%,#f4af84 100%);">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'Images/target.png' %}"/> TARGET</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto mr-5">
              {% if user.is_authenticated %}
              <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" >
                  <img src="{% static 'Images/user.png' %}"/> {{user.username | title}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'password_change' %}"><img src="{% static 'Images/key.png' %}"/> Parolayı Değiştir</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}"><img src="{% static 'Images/logout.png' %}"/> Çıkış Yap</a></li>
                  
                </ul>
              </li>
            </ul>
              {% else %}
              <a class="nav-link " href="{% url 'login' %}" ><img src="{% static 'Images/login.png' %}"/>
                Giriş Yap
              </a>
              <a class="nav-link " href="{% url 'signup' %}" ><img src="{% static 'Images/sign-up.png' %}"/>
                Kaydol
              </a>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
   
</body>

</html>